@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-transform: capitalize;
  text-decoration: none;
  outline: none;
  border: none;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}
/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

section {
  padding: 3rem 9%;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  background: #e9edfb;
  color: #224bcf;
  cursor: pointer;
  border-radius: .5rem;
  font-size: 1.7rem;
}

.btn:hover {
  color: #fff;
  background: #224bcf;
}


.heading h3 {
  font-size: 3.5rem;
  color: #302851;
}

.heading p {
  font-size: 1.6rem;
  color: #666;
  padding-top: .5rem;
}

.heading p a {
  padding-right: .5rem;
  color: #fa1d86;
}

.heading p a:hover {
  color: #224bcf;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0px;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 9%;
  background: #0E773A;
}

.header .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: #fff;
}

.header .logo i {
  color: #fa1d86;
}

.header .navbar ul {
  list-style: none;
}

.header .navbar ul li {
  position: relative;
  float: center;
}

.header .navbar ul li:hover ul {
  display: block;
}

.header .navbar ul li a {
  padding: 2rem;
  display: block;
  font-size: 1.7rem;
  color: #fff;
}

.header .navbar ul li a:hover {
  background: #fa1d86;
}

.header .navbar ul li ul {
  position:relative;
  left: 0;
  width: 20rem;
  background: #0E773A;
  display: none;
}

.header .navbar ul li ul li {
  width: 100%;
}

#menu-btn {
  cursor: pointer;
  color: #fff;
  font-size: 2.5rem;
  display: none;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.home .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.home .image img {
  width: 100%;
  align-items: center;
}

.home .content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem;
}

.home .content h3 {
  color: #302851;
  font-size: 5rem;
}

.home .content p {
  font-size: 1.4rem;
  color: #666;
  padding: 1rem 0;
  line-height: 2.5;
}

table{
  align-items: normal;
  padding-top: 10px;
  border-collapse:collapse ;
}

table th{
  text-align: left;
  background-color: #3a6070;
  color: #fff;
  padding: 15px 30px 15px 12px
}

table td{
  border: 1px solid #e3e3e3;
  padding: 8px 12px;
}

table tr:nth-child(odd) td{
  background-color: #e7edf0;
}

table, th, td{
  border: 1px solid black;
  border-collapse: collapse;
}

th{
  font-size: 20px;
}

td{
  font-size: 15px;
}

h1{
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}
h2{
    font-size: 20px;
}

h3{
  text-align: center;
  font-size: 20px;
  font-style: bold;
  
}
p{
    font-size: 20px;
    text-align: center;
    font-style: normal;
}

.hi5{
  font-size: 18px;
  text-align: left;
  color: #224bcf;
}

h5{
  font-size: 18px;
}

h4{
  text-align: center;
  font-size: 3rem;
}

table.enroll {
  margin: auto;
  margin-left: 2%;
  margin-right: 2%;
}

table.reg {
  margin: auto;
}

table.kinder {
  margin: auto;
}

table.plop {
  margin: auto;
}

table.plop td{
  font-size: 20px;
  text-align: center;
}

